In [1]:
from sklearn.datasets import load_iris
import pandas as pd

In [2]:
data = load_iris()

In [3]:
cols = data['feature_names']
cols

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [4]:
X = data['data']

In [5]:
Y = data['target']

In [6]:
df = pd.DataFrame(X, columns=cols)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
Y = pd.DataFrame(Y, columns=['target'])
Y.head()

   target
0       0
1       0
2       0
3       0
4       0

In [8]:
df = df.join(Y)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
df.to_csv('iris.csv', index=False)